* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  margin: auto;
  background-color: #E7EDDE;
}

.btn {
  cursor: pointer;
  background-color: #D9E7CB;
  color: #131F0D;
  padding: 7px 16px;
  border: 2px solid #74796E;
  border-radius: 4px;
}

.settings-panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grid-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  max-width: 1200px;
}

.grid {
  display: flex;
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
  border: 2px solid #74796E;
  box-sizing: content-box;
}

.square {
  border: 1px solid #D9E7CB;
  background-color: #ffffff;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.switch input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.slider {
  display: inline-block;
  width: 70px;
  height: 34px;
  background-color: #DFE4D6;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  border: 2px solid #74796E;
  box-sizing: content-box;
}

.slider::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #74796E;
  position: absolute;
  border-radius: 70px;
  top: 7px;
  left: 9px;
  transition: 0.4s;
}

.switch input:checked + .slider:after {
  content: "✓";
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  width: 30px;
  height: 30px;
  left: calc(100% - 3px);
  top: 2px;
  transform: translateX(-100%);
  background-color: #FFFFFF;
}

.switch input:checked + .slider{
  background-color: #386A20;
  border-color: #386A20;
}
